.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  padding: 0;
  margin: 0;
}
.container{
  color: antiquewhite;
  margin-top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.blank{
  color: red;
  font-size: 30px;
}

.form-label{
  margin-top: 30px;
  font-size: 25px;
}
.bg{
  background-image: url(./images/background.jpg);
  background-size: cover;
}
.button{
  background-color: rgb(66, 66, 223);
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border-color: black;
  border-style: double;
}

.button:hover{
  background-color: white;
  color: blue;
}
.heading{
  font-size: 50px;
  color: aliceblue;
  margin: 30px;
}
